body {
  overflow: hidden;
  text-align: center;
  padding-top: 12%;
  background-color: #4f3e5e;
}

#cont{
  position: relative;
  text-align: center;
  max-height: 200px;
  max-width: 300px;
  margin: auto;
}

#img-up{
  width: auto;
  border-radius:15%;
  height: 170px;
  margin: auto;
}

#name{

  color: rgb(45, 171, 30);
  font-size: 35px;
  border: 4px solid #9d2f2f;
  width: 200px;
  margin: auto;
}

#iconlink{
  padding-top:20px;
  width: 300px;
  margin: auto;
}
